

.brand-name {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
}

.brand-logo {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}

.content {
  min-height: calc(100vh - 80px);
  padding: 30px 50px;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }
}
