
input {
  width: min(100%, 500px);
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.primary {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  gap: 50px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .results {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
  }
}
