
.primary {
  padding: 2rem 2rem 2rem 2rem
  border: #605DC8 solid 1px;
  background: #605DC8 ;
  color: rgb(249, 250, 251);
  border-radius: 8px;
}
.btn-primary{
    border: #605DC8 solid 1px;
    background: #ffffff ;
    color: rgb(249, 250, 251);
    border-radius: 8px;

}
main{
 background-color: gray;

}
form {
  display: flex;
  gap: 10px;
}